apiVersion: v1
kind: Service
metadata:
  name: {{ include "prometheus-gh-collector.fullname" . }}
  annotations:
    {{- with .Values.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "prometheus-gh-collector.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "prometheus-gh-collector.selectorLabels" . | nindent 4 }}
