name: publish

# This workflow is triggered on pushes to the main branch
# It will build and publish the docker image using the latest ref as image version
# Output image will be published to GitHub Container Registry (GHCR)
# Example: ghcr.io/joerx/prometheus-gh-collector:dev-a1b2c3d

on:
  push:
    branches:
      - main

jobs:
  build_and_publish:
    name: Build & publish Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      REGISTRY: ghcr.io
      GIT_SHA: ${{ github.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run tests
        run: make test
      - name: Build & Publish to Container registry
        run: |
          make docker-push VERSION=dev-${GIT_SHA:0:7} REPO=${{ github.repository }} IMG_REGISTRY=${REGISTRY}
